*{
  margin: 0px;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #4B5362;
  color: white;
}

li{
  list-style: none;
}

.main_container{
 display: flex;
 justify-content: center;
}

/* header_container */

.header{
position: absolute;
background: #1F2326;
height: 56px;
width: 1200px;
margin-top: 80px;
margin-left: 30px;
border-radius:7px 7px 0 0;
padding: 0px;
box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.header_container{
  display: inline-block;
  margin-top: 18px;
  margin-left: 28px;
  padding: 0px;

}

.item{
  margin-left: 15px;
  margin-right: 15px;
}

/* main_logo_container */

.logo_container{
  display: inline-block;
}
.main_logo{
  width: 37px;
  height: 19px;
  position: relative;
  display: inline-block;
  padding: 0px;

}

.vertical_line{
  height: 19px;
}

.logo{
  width: 37px;
  height: 19px;
}

/* nav_bar */

.nav_link_main_container{
  display: inline-block;
  vertical-align: text-top;
  padding: 0px;
}

.nav_links{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.link{
  margin-left: 23px;
  margin-right: 23px;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: bold;
}

.polygon{
  margin-left: -17px;
}

/* profile */

.profile_link{
  margin-top: -18px;
  display: flex;
  justify-content: flex-end;
  margin-right: -235px;
}

.profile_pic{
  border-radius: 50%;
  width: 30px;
}

.link_item{
  position: relative;
  left: -10px;
  top: 8px;
}

.link_item_polygon{
  position: relative;
  top: -4px;
  left: -10px;
}

/* main_container */

.main{
  background: #FF4656;
  width: 1200px;
  height: 440px;
  margin-top: 8px;
  background-image: url("img/background.png");
  background-size: cover;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.agent_pic{
  position: relative;
  width: 40px;
  top: 35px;
  left: 70px;
}

.line_pick{
  position: relative;
  width: 16px;
  top: -265px;
  left: -15px;
  height: 3px;
}

.block_with_logo_container{
  position: relative;
  top: -5px;
  left: 29px;
}

.block_with_logo_item{

  width: 25px;
}

.block_logo{
  position: relative;
  height: 25px;
  padding: 5px;
}

.block_logo_item{
  position: relative;
  top: -30px;
  width: 15px;
  left: 0px;
  height: 15px;
}

.block_bottom_line_item{
  position: relative;
  width: 25px;
  height:0px;
  background: #762E35;
  top: -47px;
  left: 29px;
}

.agent_underline{
  position: relative;
  width: 75px;
  top: -44px;
  left: 30px;
  height: 3px;
}

.phoenix_container{
  position: relative;
}

.phoenix_text_container{
  position: relative;
}

.phoenix_text_pic{
  width: 25px;
  position: relative;
  top:-468px;
  left: 170px;
  z-index: 3;
}

.phoenix_place_of_birth{
  position: relative;
  width: 12px;
  top: -532px;
  left: 167px;
  z-index: 3;
}

.phoenix_backbround{
  position: relative;
  z-index: 1;
  width: 148px;
  height: 308px;
  top: -390px;
  left: 135px;
  box-sizing: border-box;
  background: #1F2326;
}

.phoenix_hero_pic{
  position: relative;
  width: 145px;
  height: 310px;
  z-index: 2;
  top: -391px;
  left: -15px;
}

.abilities{
  position: relative;
  z-index: 4;
  width: 145px;
  background: #1F2326;
  height: 40px;
  border: 1px white solid;
  top: -420px;
  left: 193px;
  display: flex;
  align-items: center;

}

.ability_item{
  position: relative;
  height: 20px;
  margin-left: 15px;
}

.ability_item.frst{
  margin-left: 12px;
}

.ability_item.frth{
  width: 22px;
}

.triangle{
  top: -301px;
  left: -146px;
  position: relative;
  width: 0;
  height: 0;
  border-top: 5px solid #EB5764;
  border-right: 5px solid transparent;
}

.footer{
  width: 1200px;
  height: 56px;
  background-color: #F8F8F8;
  border-radius:0 0 7px 7px;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
}
